@charset "UTF-8";

/* CSS Document */

/* @group Main styling Group */

body {
	width: auto;
	min-width: 300px;
	background: none;
	margin: auto;
	padding: 0;
	background-color: black;
}

.container {
	width: auto;
	margin: auto;
}

.red {
	color: #7b1d1d;
}

.big {
	font-size: 2.2em;
	letter-spacing: .16em;
}

header {
	width: auto;
	margin-top: 0;
}

header h1 {
	position: relative;
	background-color: #424259;
	width: 100%;
	margin: auto;
	top: 0;
}

header h2 {
	margin-left: 0;
	font-size: 1.5em;
	margin-top: 20px;
	text-align: center;
}

#logo {
	width: auto;
	height: 100px;
	margin: auto;
	background:  url('../images/main/jakata_logo.png') no-repeat center center;
	background-size: 80%;
}

#prospect {
	width: auto;
	margin: auto;
	height: 100%;
	background: url('') 0 0px no-repeat #d3d0cb;
	background-size: contain;
	padding-top: 570px;
	padding-bottom: 50px;
	float: none;
	margin-top: 0;
}

#prospect-info {
	float: none;
	width: auto;
	height: 800px;
	padding: 40px;
	margin-top: 200px;
	margin-right: 0;
}

#prospect-entry {
	float: none;
	position: relative;
	width: auto;
	padding: 0;
	border-left: none;
	min-height: 900px;
}

#prospect-entry h2 {
	font: 3.3em Georgia, "Times New Roman", Times, serif;
	margin: 40px 0;
}

#prospect-entry a {
	background-color: rgb(81, 86, 95);
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
	color: #FFF;
	font-size: 1.4em;
	opacity: 1;
}

#prospect-entry a:hover {
	opacity: .7;
}

#prospect-entry p:last-of-type {
	margin-bottom: 50px;
}

.row input,
.row textarea {
	line-height: 1em;
	padding: 5px;
	font-size: 1em;
	width: 90%;
}

.row.buttons input {
	width: 100px;
}

.row label{
	font-size: .8em;
	color: #424259;
	margin-bottom: 8px;
	margin-top: 10px;
}
.row label.required {
	font-size: .8em;
	color: #424259;
	margin-bottom: 8px;
	margin-top: 10px;
}




/* @end */