@charset "UTF-8";

/* CSS Document */

/* @group Clear Fix */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*--- ie6*-----*/
* html .group {
	height: 1%;
}

/*----- ie7 -----*/
*:first-child+html .group {
	min-height: 1px;
}

/* @end */



/* @group Main styling Group */

body {
	margin: 10px auto;
	width: 950px;
	background: url('../images/prospect/prospect_bground.jpg') repeat left top rgb(81, 86, 95);
}

.container {
	width: 100%;
	position: relative;
	border: 1px solid #333;
	background-color: #FFF;
}

.red {
	color: #7b1d1d;
}

h1, h2, h3, h4, h5, h6 {
	font-family: NotethisRegular;
	color: #4f516a;
}

p {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.5em;
}

header {
	width: 500px;
	margin-top: 30px;
}

header h1 {
	font-size: 3px;
	text-indent: -9999px;
	margin: 0;
	padding: 0;
	width: 400px;
}

header h2 {
	margin-left: 60px;
	font-size: 1.7em;
	margin-top: 0;
}

#logo {
	width: 400px;
	height: 130px;
	margin-left: 40px;
	background:  url('../images/main/jakata_logo.png') no-repeat left center;
}

#prospect {
	position: relative;
}

#prospect-image {
	width: 380px;
	height: 300px;
	background: #f5f5f5 url('../images/prospect/prospect_main.jpg') no-repeat left top;
}

#prospect-info {
	float: left;
	width: 370px;
	height: 800px;
	padding: 40px;
	margin-top: 0;
	margin-right: 30px;
}

#prospect-entry {
	float: right;
	position: relative;
	width: 384px;
	padding: 40px;
	border-left: 3px solid #555;
	min-height: 900px;
	margin-top: -200px;
}

#prospect-offer-image {
	width: 380px;
	height: 200px;
	background: #f5f5f5 url('../images/prospect/bc.jpg') no-repeat left top;
}

#prospect-entry h2 {
	font: 3.3em Georgia, "Times New Roman", Times, serif;
	margin: 40px 0;
}

#prospect-entry a {
	background-color: rgb(81, 86, 95);
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
	color: #FFF;
	font-size: 1.4em;
	opacity: 1;
}

#prospect-entry a:hover {
	opacity: .7;
}

#prospect-entry p:last-of-type {
	margin-bottom: 50px;
}

#address_info {
	margin-top: 30px;
}

#address_info p {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	letter-spacing: .13em;
}

#address_info p.big {
	font: 2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: .16em;
	margin-top: 0;
}

#form h2 {
	font-size: 1.8em;
}

.row input,
.row textarea {
	line-height: 1em;
	padding: 5px;
	font-size: 1em;
	width: 90%;
}

.row.buttons input {
	width: 100px;
}

.row label{
	font-size: .8em;
	color: #424259;
	margin-bottom: 8px;
	margin-top: 10px;
}
.row label.required {
	font-size: .8em;
	color: #424259;
	margin-bottom: 8px;
	margin-top: 10px;
}




/* @end */