<!DOCTYPE HTML>

<title>Jakata Offer - <?php echo date('F');?> 2013</title>

<html>
<body>
<table width="100%" cellpadding="0" cellspacing="0"> <!--container-->
<tr>
<td valign="top" align="center">
	<table width="657" cellpadding="0" cellspacing="0"> <!--main-->
	<tr>
	<td valign="top" bgcolor="#000001" style="color:#FFF; font-size: 1.5em;">
		<table width="300" cellpadding="20" cellspacing="0"> <!--column 1-->
		<tr>
		<td>
		<img src="http://jakatasalon.co.uk/images/email/catwalklogo.gif" alt="" />
		<p style="font-size: .8em; margin: 0px">For a limited time</p>
		<p style="font-size: .5em; margin: 0px">with a senior stylist</p>
		<p style="font-size: 1.8em; margin: 0px">Worth &pound;140</p>
		<p style="font-size: .1.1em; margin: 0px">for only  &pound;70</p>
		<p style="font-size: .7em; margin: 0px">saving &pound;70</p>
		<p style="font-size: .8em; margin-top: 20px; margin-bottom: 0px;">With a Stylist - only &pound;60</p>
		<p style="font-size: .6em; margin: 0px">worth &pound;120</p>
		
		<p style="font-size: .5em; margin-top: 20px; font-family: Arial, Helvetica, Geneva, sans-serif; line-height: 1.3em"><strong>PACKAGE INCLUDES:</strong><br>
		Colour &amp; Cut PLUS<br>
		Catwalk Fashion Styling<br>
		FREE Catwalk Shampoo,<br> 
		Conditioner &amp; Styling Product<br> 
		Worth &pound;40</p>
		</td>
		</tr>
		</table> <!--column 1 table-->
	</td> <!--column 1-->
	<td valign="top" bgcolor="#000001">
		<table width="300" cellpadding="0" cellspacing="0"> <!--column 2-->
		<tr>
		<td>
		<img src="http://jakatasalon.co.uk/images/email/catwalk_email.jpg" alt="" />
		</td>
		</tr>
		</table> <!--column 2 table-->
	</td> <!--column 2-->
	</tr>
	
	
	</table> <!--end main table-->
</td>
</tr>
</table> <!--container table-->	

</body>
</html>