<!DOCTYPE HTML>

<title>Jakata Newsletter - <?php echo date('F Y');?></title>

<html>
<body>

<table width="100%" cellpadding="10" cellspacing="0">

	<tr>
	<td valign="top" align="center">
	<table width="657" cellpadding="0" cellspacing="0" style="border: 1px solid #999;">
	<tr>
	<td>
	<table width="657" cellpadding="0" cellspacing="0">
	<table width="657" cellpadding="0" cellspacing="0">
	<tr>
	<a href="http://www.jakatasalon.co.uk/news.php" style="text-decoration: none; font-size: .7em; color: #999; text-align:left;">Read these news stories at our web site</a>
	</td>
	</tr>
	
	<!--header-->
	<tr>
	<td height="224" align="left" valign="middle" style="background-color:#FFFFFF;border-top:0px solid #333333;"><center>
	  <a href="http://www.jakatasalon.co.uk"><img src="http://www.jakatasalon.co.uk/images/newspics/news_masthead2.jpg" alt="Jakata Hair &amp; Beauty Team. 01925 242960" width="657" height="224" style="border-style: none"></a></td>
	</tr>
	</table>
	<!--end header-->
	
	<table width="657" cellpadding="20" cellspacing="0" bgcolor="#FFFFFF">
	
	<tr> <!-- Intro -->
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;"><p>
	  <img src="http://www.jakatasalon.co.uk/images/newspics/" alt="" width="135" height="190"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:20px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Welcome to our <?php echo date('F');?> Newsletter</strong></h1>
		<p>Hi <?php echo ucfirst($model->first_name);?>, </p>
		<p>Summer is almost here after what seemed like a never ending winter! During the winter months the Jakata team kept themselves occupied by putting together a new collection of images (see story below).</p>
		<p>With holiday season almost here we all need to ensure our hair is in the best possible condition. We've introduced some great new product ranges and treatments to the salon recently, find out below&hellip;</p>
		<P><strong>See you in the salon soon!</strong></P>
		<p><a href="http://www.jakatasalon.co.uk" target="_blank" style="color: #333;">www.jakatasalon.co.uk</a></p>
	   </td>
	</tr>
	
	<tr> <!-- Shell Update -->
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;"><p>
	  <img src="http://www.jakatasalon.co.uk/images/newspics/" alt="" width="135" height="190"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:20px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Michelle back behind the chair</strong></h1>
		<p>We're happy to say that Michelle Ash is now back in the salon. She came back a few months ago after a long period out of the salon due to a blood infection.</p>
		<p>She's been easing herself in slowly, but is now ready to get back into full swing. Michelle isn't doing full time hours so if you want to book in with her we recommend calling in advance.</p>
		<p><strong>Call 01925 242960 to book your appointment with Shell</strong></p>
	   </td>
	</tr>
	
	<tr> <!-- Collection News -->
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;"><p>
	  <img src="http://www.jakatasalon.co.uk/images/newspics/artistic_team.jpg" alt="Jakata Artistic Team" width="130" height="94"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:20px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Artistic team produce new collection</strong></h1>
		<p>Over the last few months the Jakata artistic team have been working extremely hard coming up with and developing ideas for their latest collection.</p>
		<p>The brief was to produce a collection of images that reflect the fashion forward, cutting edge style that Jakata represents. The images will be used for salon branding and maybe be entered into competitions.</p>
		<p><a href="http://www.jakatasalon.co.uk/news.php#" target="_blank" style="color: #333;">Find out more here&gt;</a></p>
	   </td>
	</tr>
	
	<tr> <!-- Hair Reborn -->
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;"><p>
	  <img src="http://www.jakatasalon.co.uk/images/newspics/tigi_reborn.jpg" alt="Hair Reborn" width="130" height="183"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:20px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Introducing Tigi Hair Reborn</strong></h1>
		<p>Hair Reborn is a new hair product range by Tigi that uses concentrated raw ingredients to replace proteins and restore your hair to a more youthful state.</p>
		<p>Designed by TIGI hairdressers, the collection of shampoos, conditioners, hairsprays and styling treatments have been created to restore hair to its natural state, using 'Hyper Distillation' technology to ensure the highest and most potent pharmaceutical grade products.</p>
		<p><a href="http://www.jakatasalon.co.uk/news.php#Hair Reborn" target="_blank" style="color: #333;">Find out about the product range here&gt;</a></p>
	   </td>
	</tr>
	
	<tr> <!-- Maisie Interview -->
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;">
	  <p><img src="http://www.jakatasalon.co.uk/images/newspics/maisie.jpg" alt="Maisie Thompson" width="135" height="180"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:20px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Get to know the team: Meet Maisie</strong></h1>
	  <p>This month we caught up with Jakata's newest stylist Maisie Thompson who joined us last October.</p>
	  <p>We bombarded her with loads of questions about her role as a Jakata stylist.</p>
	  <p><a href="http://www.jakatasalon.co.uk/news.php#MaisieInterview" target="_blank" style="color: #333;">Read the full interview plus catch up with all the other Jakata Team interviews here &gt;</a></p>
	 </td>
	</tr>
	
	<tr> <!-- Fibre Force -->
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;">
	  <p><img src="http://www.jakatasalon.co.uk/images/newspics/fibre_force3.jpg" alt="Schwarzkopf Fibre Force" width="135" height="111"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:20px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>New BC Fibre Force</strong></h1>
	  <p>We've all been guilty of mistreating our hair from time to time, whether it's through over straightening, over colouring or just using poor quality products. Hair is tough, but you do have to treat it right if you want it to behave itself!</p>
	  <p>Schwarzkopf realised there are a lot of people out there not giving their hair the love and care it needs, so they introduced BC Fibre Force - a complete range of products designed to return your hair to it's former glory over a short(ish) period of time.</p>
	  <p><a href="http://www.jakatasalon.co.uk/news.php#FibreForce" target="_blank" style="color: #333;">Find out more here &gt;</a></p>
	 </td>
	</tr>
	
	<?php switch ($model->offer){
	
	case 1:
	echo
	 '<tr> 
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;">
	  <p><img src="http://www.jakatasalon.co.uk/images/newspics/" alt="Special Offer" width="135" height="190"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:14px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:24px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Special Offer for you '.ucfirst($model->first_name).'</strong></h1>
	  <p></p>
	  <p></p>
	  <p>Offer exclusively for '.ucfirst($model->first_name).' '.ucfirst($model->last_name).' only,<br>Not Transferable </p>
	  <p><strong></strong></p>
	 </td>
	</tr>';
	break;
	case 2:
	echo
	'<tr> 
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;">
	  <p><img src="http://www.jakatasalon.co.uk/images/newspics/" alt="Special Offer" width="135" height="190"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:14px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:24px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Special Offer for you '.ucfirst($model->first_name).'</strong></h1>
	  <p></p>
	  <p></p>
	  <p>Offer exclusively for '.ucfirst($model->first_name).' '.ucfirst($model->last_name).' only.<br>Not Transferable </p>
	  <p><strong></strong></p>
	 </td>
	</tr>';
	break;
	case 3:
	echo
	'<tr> 
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;">
	  <p><img src="http://www.jakatasalon.co.uk/images/newspics/" alt="Special Offer" width="135" height="190"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:14px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:24px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Special Offer for you '.ucfirst($model->first_name).'</strong></h1>
	  <p></p>
	  <p></p>
	  <p>Offer exclusively for '.ucfirst($model->first_name).' '.ucfirst($model->last_name).' only.<br>Not Transferable </p>
	  <p><strong>Call 01925 242960 to book</strong></p>
	 </td>
	</tr>';
	break;
	case 5:
	echo
	'<tr> 
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;">
	  <p><img src="http://www.jakatasalon.co.uk/images/newspics/" alt="Special Offer" width="135" height="190"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:14px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:24px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Special Offer for you '.ucfirst($model->first_name).'</strong></h1>
	  <p></p>
	  <p></p>
	  <p>Offer exclusively for '.ucfirst($model->first_name).' '.ucfirst($model->last_name).' only.<br>Not Transferable </p>
	  <p><strong>Call 01925 242960 to book</strong></p>
	 </td>
	</tr>';
	break;
	}
	?>
	
	<!--footer-->
	
	<tr>
	  <td style="background-color: #999;border-top:10px solid #FFFFFF;" valign="top">&nbsp;</td>
	  <td style="background-color:#999;border-top:10px solid #FFFFFF;" valign="top">
	  <span style="text-align:left;font-size:10px;color:#FFFFFF;font-family:verdana;">
		Jakata Hair &amp; Beauty Team <br />
	  <br />
	  <a href="mailto:enquiries@jakatasalon.co.uk">Unsubscribe</a>: Just Return this e-mail with 'unsubscribe' as the subject <br />
	  <p>
		Jakata Hair &amp; Beauty<br>
		90/92 Bridge Street<br>
		Warrington<br>
		WA1 2RF
	  </p>
	
		<p>Our telephone:<br />
		01925 242960</p>
	  
	   <p> Copyright (C) <?php echo date('Y');?> Jakata Hair &amp; Beauty. All rights reserved.</p>
	   </span>
	   </td>
	   		</tr>
			 </table>
		</td>
	</tr>
	</table>
	</tr>

</table>
<!--end footer-->

</body>
</html>